<h1>Welcome to **VIDEO MICROSITE**!</h1>
<p>
  You've found the home page for the
  <%= link_to "**VIDEO MICROSITE**", "#" %> powered by <%= link_to "Streaming Well", "http://streamingwell.tv" %>
</p>
<p>
  <%= link_to "Sign Up Now!", '#' %>
</p>