<div class="jumbotron">
	<!-- <img src="http://placehold.it/600x320"> -->
	<iframe width="640" height="360" src="//www.youtube.com/embed/qeYthltbbAw" frameborder="0" allowfullscreen></iframe>
<hr>

<div class="">
	<h3 span5>Please submit your questions to the REALISE&trade; experts for the Q&A session below. </h3>
</div>

<br>
	
</div>